
<div ng-hide="This.AddedStoreMessage=='success'" ng-app="MyApp" ng-if="AddStoreLinkClicked" 
ng-model="AddStoreForm" ng-controller="AddStoreController as This"  style="margin:auto; width:50%; background-color: rgb(229, 236, 240); color: rgb(22, 46, 83); overflow-y: scroll ; ">
  <h5>Please insert your store details below  </h5>  

<form  name="addstore" ng-submit="This.myaddstore()"  style="display: grid; grid-template-columns: 50% 50%;" >
  <div style="float: left; text-align: left; margin-left: 10px;" >
     <div>
     Store Name:  <span class="asterisk">*</span> 
      <input type="text" required placeholder="Store Name" ng-model="This.storeName"></input> 
    </div>
 
   
      <div>
        Store Address: <span class="asterisk">*</span> <br> 
      </div>
      <div>
          country: <span class="asterisk">*</span> <br> 
          <input type="text" required pattern="[a-zA-Z]+" placeholder="country" ng-model="This.country"></input>
        </div>
        <div>
          State: <span class="asterisk">*</span> <br> 
          <input type="text" required pattern="[a-zA-Z]+" placeholder="State" ng-model="This.state"></input>
        </div>
        <div>
          City: <span class="asterisk">*</span> <br> 
          <input type="text" required pattern="[a-zA-Z]+" placeholder="City" ng-model="This.city"></input>
        </div>
        <div>
          Zip: <span class="asterisk">*</span> <br> 
          <input type="text" required pattern="\d{5}" placeholder="Zip" ng-model="This.zip"></input>
        </div>
        <div>
          Street: <br> 
          <input type="text" required  placeholder="Street" ng-model="This.street"></input>
        </div>
        <div>
          Email: <br> 
          <input type="text" required pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" placeholder="Email" ng-model="This.email"></input>
        </div>
        <div>
          Contact Person: <span class="asterisk">*</span> <br> 
          <input type="text" required pattern="[a-zA-Z]+" placeholder="Contact Person" ng-model="This.contactPerson"></input>
        </div>
      
  </div>

  <div style="float: right; text-align: left;" >
  
    <div>
       Products: <br> 
     </div>
 
      <div>
        Product Name:    <span class="asterisk">*</span> <br> 
        <input type="text" required pattern="[a-zA-Z]+" placeholder=" Product Name" ng-model="This.productName"></input>

      </div>
      <div>
          Product Description: <span class="asterisk">*</span> <br> 
          <input type="text" required pattern="[a-zA-Z]+" placeholder=" Product Description" ng-model="This.productDescription"></input>
        </div>
        <div>
          Product Tag: <span class="asterisk">*</span> <br> 
          <input type="text" required pattern="[a-zA-Z]+" placeholder="Product Tag" ng-model="This.productTag"></input>
        </div>
        <div>
          Product Price: <span class="asterisk">*</span> <br> 
          <input type="text" required pattern="[0-9]+" placeholder="Product Price" ng-model="This.productPrice"></input>
        </div>
        <div>
          Currency: <span class="asterisk">*</span> <br> 
          <input type="text" required pattern="[a-zA-Z]+" placeholder="Currency" ng-model="This.currency"></input>
        </div>
        <div>
        
 
   </div>  
   <br>
   <br>
   <br>
   <br>  
    
   
   <input type="submit" id="add" value="Submit" class="btn btn-primary" style="width: 120px;" /> 

  </form>

</div>

<br>