
 
 <div style="margin: auto; margin-top:20px; width: 50%;" class="container card"> 
    <div ng-if="!clicked" class="form-control btn-primary" style="text-align: center;"> Please Add your City below !</div> 
    <div ng-if="This.message" class="form-control btn-success" role="alert" style="text-align: center;">{{This.message}}</div> 
    <div ng-if="This.error" class="form-control btn-danger" role="alert" style="text-align: center;">{{This.error}}</div> 
            <form ng-submit="This.addNewCity()">
                <div class="form-group">
                  <label >City Name:</label>
                  <input type="text" class="form-control" placeholder="Enter City Name" ng-model="This.city" >
                </div>
                <div class="form-group">
                    <label >City Zip:</label>
                    <input type="text" class="form-control" placeholder="Enter Zip Code" ng-model="This.zip">
                  </div>
                 
                   <div class="form-group">
                    <label >Location:</label>
                    <input type="text" class="form-control" placeholder="Enter location (comma separated)" ng-model="This.loc">
                  </div>
                  <div class="form-group">
                    <label >Population:</label>
                    <input type="text" class="form-control" placeholder="Enter state" ng-model="This.pop">
                  </div>
                  <div class="form-group">
                    <label >State:</label>
                    <input type="text" class="form-control" placeholder="Enter city" ng-model="This.state">
                  </div>
                              
              
                <button type="submit" class="btn btn-primary" ng-click="clicked=true">Submit</button>
              </form>
 
  </div>
  <br>
  <br>